.input {
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    transition: 0.3s;
    width: 50vw;
    margin-bottom: 50px;
}
   
.input:focus {
    outline-color: #fff;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    transition: 0.3s;
}

.input[type='text'] { 
    font-family: 'Montserrat', sans-serif; 
}