body {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Montserrat', sans-serif; 
  /* -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
    /* 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
    /* sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body.dark-mode {
  background-color: #212121;
}

/* .post-card.dark-mode {
  width: 300px;
  background-color: #212121;;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
}

.title.dark-mode {
    font-size: x-large;
    line-height: 22px;
    font-weight: 600;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    transition: all .35s ease-in;
}

svg.dark-mode {
  color: white;
} */

.form.dark-mode {
  --input-bg: #212121;
 /*  background of input */
  --padding: 1.5em;
  --rotate: 80deg;
 /*  rotation degree of input*/
  --gap: 2em;
  /*  gap of items in input */
  --icon-change-color: #15A986;
 /*  when rotating changed icon color */
  --height: 40px;
 /*  height */
  width: 200px;
  padding-inline-end: 1em;
 /*  change this for padding in the end of input */
  background: var(--input-bg);
  position: relative;
  border-radius: 25px;
  width: 90vw;
  box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60);
  margin-top: 25px;
  margin-bottom: 25px;
}